services:
  driverless:
    image: kjelstromjr/driverless:latest 
    build: .
    pull_policy: missing
    container_name: driverless
    ports:
      - "80:80"           # Web interface (adjust if you change PORT in main.js)
      - "30814:30814/tcp"     # BeamMP server port
      - "30814:30814/udp"     
    volumes:
        - ./Roads:/app/Roads
        - ./config:/app/config
        - ./beammp:/app/beammp

    restart: unless-stopped