.main-area {
    max-width: 80%;
    max-height: 80%;
    border-radius: 20px;
    padding: 20px;
    color: var(--text);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
}

.input-field label {
    font-size: large;
}

.input-field .text-input input {
    width: 24em;
}